Examples/example_03_DrivenFD_cavity/.DS_Store
Examples/example_02_electrostatics_LOM/xmon_electro_output/terminal-Cinv.csv
Examples/example_02_electrostatics_LOM/xmon_electro_output/terminal-Cm.csv
Examples/example_02_electrostatics_LOM/xmon_electro_output/terminal-V.csv
Examples/example_02_electrostatics_LOM/xmon_electro_output/surface-F.csv
/Examples/example_02_electrostatics_LOM/xmon_electro_output/paraview
*.vtu
Examples/example_00_pyPalace_introduction/.DS_Store
Examples/.DS_Store
/Examples/example_00_pyPalace_introduction/.ipynb_checkpoints
Examples/example_00_pyPalace_introduction/config/.DS_Store
*.pvd
*.pvtu
*.pyc
Examples/example_02_electrostatics_LOM/config/.DS_Store
Examples/example_02_electrostatics_LOM/.DS_Store
Examples/example_02_electrostatics_LOM/.ipynb_checkpoints/example02_notebook-checkpoint.ipynb
Examples/example_02_electrostatics_LOM/pocket_electro_output/terminal-Cinv.csv
Examples/example_02_electrostatics_LOM/pocket_electro_output/terminal-Cm.csv
Examples/example_02_electrostatics_LOM/pocket_electro_output/terminal-V.csv
Examples/example_02_electrostatics_LOM/xmon_electro_output/palace.json
Examples/example_02_electrostatics_LOM/xmon_electro_output/error-indicators.csv
Examples/example_02_electrostatics_LOM/pocket_electro_output/surface-F.csv
Examples/example_02_electrostatics_LOM/pocket_electro_output/palace.json
Examples/example_02_electrostatics_LOM/pocket_electro_output/error-indicators.csv
Examples/example_02_electrostatics_LOM/pocket_electro_output/domain-E.csv
Examples/example_02_electrostatics_LOM/xmon_electro_output/domain-E.csv
Examples/example_01_eigenmode_EPR/.DS_Store
Examples/example_01_eigenmode_EPR/config/.DS_Store
Examples/example_01_eigenmode_EPR/example01_output/.DS_Store
Examples/example_02_electrostatics_LOM/.ipynb_checkpoints/example02_notebook_pocketTransmon-checkpoint.ipynb
Examples/example_02_electrostatics_LOM/.ipynb_checkpoints/example02_notebook_TransmonCross-checkpoint.ipynb
Examples/example_01_eigenmode_EPR/.ipynb_checkpoints/qubit_res_eigenmode_example-checkpoint.ipynb
/docs/build
Examples/example_01_eigenmode_EPR/Figures/.DS_Store
Examples/example_01_eigenmode_EPR/example01_output/paraview/eigenmode/.DS_Store
Examples/example_01_eigenmode_EPR/example01_output/paraview/.DS_Store
docs/.DS_Store
docs/source/.DS_Store
Examples/example_03_fdomain_driven_resonator/.ipynb_checkpoints/example03_analysis_notebook-checkpoint.ipynb
Examples/example_03_fdomain_driven_resonator/.DS_Store
